name: Frontend CI

on:
  push:
    branches: [ "main", "develop" ]
    paths:
      - 'frontend/**'
      - '.github/workflows/**'
  pull_request:
    branches: [ "main", "develop" ]
    paths:
      - 'frontend/**'
      - '.github/workflows/**'

jobs:
  build: # Manter o nome 'build' ajuda a satisfazer a regra do GitHub
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: frontend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm ci

      # - name: Run Linter
      #   run: npm run lint

      # - name: Run Tests
      #   run: npm test

      - name: Build Project
        run: npm run build